body {
    /*padding-top: 5%;*/
    padding-top: 30px;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

#pagination {
    /*margin-bottom: 3px;*/
}

label.form-error, span.form-error {    
    color: #d9534f;
}

.form-error {    
    border-color: #d9534f;

}

.movie {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    
    
}

.poster {
    width: 230px;
    height: 340px;
    /*background-color: #172a3c;*/
    background-color: #4e5d6c;
}


.poster img {    
    max-width: 100%;
    /*max-height: 100%;*/

    z-index: 5;        

    text-align: center;
}

.poster:hover {    
    /*opacity: 0.85;*/
}

.movtitle {

    font-size: xx-large; 
    width: auto;    
    position: relative; 
    margin-top: 25px;
}

.descposter {
    width: 300px;
    height: auto;
    float: left;    
    margin-right: 10px;
}

.descdesc {
    clear:both;
    padding: 5px 10px;

}

.desctext {    
    padding: 5px 10px;


}

.rating {
    position: relative;
    top: 75px;
    font-size: x-large;
    z-index: 10;        
    width:fit-content;
}

.icon-favorite{
    /*       color: #d9534f;  */
}

.label-white {
    background-color: white;
}

.favorite {
    position: relative;
    top: 85px;    
    font-size: x-large;
    z-index: 10;  
    margin-right: auto;
    width:fit-content;
    cursor: pointer;
}



.icon-love {     
    color: #d9534f;  
}

.icon-love:hover {     
    /*color: white;*/
    content: "\e056";
}

.btn-poster {
    width: 230px;
    
}

.epiepisode {
    float:left;
    width:15px;
    height:auto;
    font-size: xx-large;
    padding: 0px;

    position: relative;
    left: -30px;
}

.episeason {
    float:left; 
    background-color: #f0ad4e; 
    font-size: xx-large; 
    width: auto; 
    padding-left: 5px; 
    padding-right: 5px; 
    left: -25px; 
    position: relative; 
}

.episeries {
    float:left;     
    font-size: xx-large; 
    width: auto;     
    left: -40px; 
    position: relative; 
}

.epiback {
    font-size: medium;
}

.epiposter-img {
    width:100px;
    /*height: auto;*/
    float:left; 
    margin-right: 15px;    
}

.epiposter {
    width:100px;
    /*height: auto;*/
    float:left; 
    margin-right: 15px;
    margin-bottom: 15px;
}



.btn-episode {
    width:100px;
}

@media (min-width: 1200px) {
  .container {
    width: 1670px;
  }
}